body{
    background-color: #005555;
    color: aliceblue;
}
#quadrado{
    background-color: aliceblue;
    width: 200px;
    height: 200px;
    margin: 2% 
}
#blue{
    margin: 1%;
}
#red{
    margin: 1%;
}
#green{
    margin: 1%;
}
#btn_cor{
    background-color: #005555;
    color: aqua;
    margin-top:1%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:0%;
    
}